.header{
    background-color:#0A6C97 ;
    color: #ffff;
    width: 80%;
    height: 40px;
    position: absolute;
    padding: 5px;
    text-indent: 5px;
    border: 1px solid #0A6C97;
    border-radius: 3px;
    margin-left: 40px;
    
}