<router-outlet></router-outlet>

<!-- <app-add-user></app-add-user> -->

<!--
<form>
    <h2 class="text-center">Add User Form</h2>
    
        <mat-form-field appearance="fill" class="inputField">
          <mat-label>First Name</mat-label>
          <input matInput placeholder="Enter Your First Name">
        </mat-form-field>
      
    
        <mat-form-field appearance="fill" class="inputField">
          <mat-label>Last Name</mat-label>
          <input matInput placeholder="Enter Your Last Name">
        </mat-form-field>
      
    
        <mat-form-field appearance="fill" class="inputField">
          <mat-label>Email</mat-label>
          <input matInput placeholder="Enter Your email">
        </mat-form-field>
      
    
        <mat-form-field appearance="fill" class="inputField">
          <mat-label>Phone</mat-label>
          <input matInput placeholder="Enter Your phone number">
        </mat-form-field>
      
      <mat-radio-group aria-label="Select Gender">
        <mat-label class="gender-color">Gender</mat-label>
        <mat-radio-button class="gender-color" value="Male"><span class="gender-color ">Male</span> </mat-radio-button>
        <mat-radio-button class="gender-color" value="Female"><span class="gender-color ">Female</span></mat-radio-button>
      </mat-radio-group>
      
    
        <mat-form-field appearance="fill" class="inputField">
          <mat-label>University</mat-label>
          <input matInput placeholder="Enter Your University Name">
        </mat-form-field>
      
    
        <mat-form-field appearance="fill" class="inputField">
          <mat-label>Department</mat-label>
          <input matInput placeholder="Enter Your Department">
        </mat-form-field>
      
      
    
        <mat-form-field appearance="fill" class="inputField">
          <mat-label>Password</mat-label>
          <input matInput placeholder="Enter Your Password">
        </mat-form-field>
      
        <button mat-flat-button color="primary" class="add-btn">Add User</button>
    </form> -->
