th,td,mat-paginator{
    color: #707687 !important;
    font-size:10pt ;
}
.visibility{
    color:#7EC8D7;
}
.edit{
    color: #FF9800;
}
.edit:hover{
    color:#B8CDE1
}
.delt{
    color:#F44336
}
.delt:hover{
    color:#B8CDE1
}
span{
    font-size: 14pt;

}
.page{
    font-size: 8pt;

}
.top{
    display: flex;
    justify-content: space-between;
}
.my-btn{
    background-color: #0A6C97;
    color: #fff;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 10pt;
}
.section-1{
margin: 80px;
}
.header{
    background-color:#0A6C97 ;
    color: #ffff;
    width: 780px;
    height: 40px;
    position: absolute;
    padding: 6px;
    text-indent: 5px;
    border: 1px solid #0A6C97;
    border-radius: 3px;
    /* text-align: center; */
    margin-left:1px;
    
}