<div class="section-1">
    <a class="btn my-btn my-4" routerLink="/add-user">Add Customer</a>
    <router-outlet></router-outlet>

    <app-header></app-header>
    <br>
    <br><br>
<div class="mat-elevation-z8">
</div>
<table mat-table [dataSource]="userDataSource">
    <!-- Position Column -->
    <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef> Sr.no </th>
        <td mat-cell *matCellDef="let user"> {{user?.id}} </td>
    </ng-container>
    <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef> Name </th>
        <td mat-cell *matCellDef="let user"> {{user?.firstName}} {{user.lastName}} </td>
    </ng-container>
    <ng-container matColumnDef="email">
        <th mat-header-cell *matHeaderCellDef> Email </th>
        <td mat-cell *matCellDef="let user"> {{user?.email}} </td>
    </ng-container>

    <ng-container matColumnDef="phone">
        <th mat-header-cell *matHeaderCellDef> Phone </th>
        <td mat-cell *matCellDef="let user"> {{user?.phone}} </td>
    </ng-container>
    <ng-container matColumnDef="department">
        <th mat-header-cell *matHeaderCellDef> Department </th>
        <td mat-cell *matCellDef="let user"> {{user?.company.department}} </td>
    </ng-container>
    <ng-container matColumnDef="action">
        <th mat-header-cell *matHeaderCellDef> Action </th>
        <td mat-cell *matCellDef="let user"><a routerLink="/view-user/{{user.id}}" class="visibility"><span class="material-symbols-outlined">
                    visibility
                </span></a>
            <a routerLink="/update-user/{{user.id}}" class="edit"><span class="material-symbols-outlined">
                    edit_square
                </span></a>
            <a (click)="deleteUserData(user.id)" class="delt"><span class="material-symbols-outlined">
                    delete </span></a>
                    <router-outlet></router-outlet>
        </td>
    </ng-container>
    <tr mat-header-row *matHeaderRowDef="displayedColoumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColoumns;"></tr>
</table>
<mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons aria-label="Select page of periodic elements" class="page">
</mat-paginator>